<!DOCTYPE html>

<html>
  <head></head>
  <body>
    <div class="nav">
	<ul>
	    <li><a href="/">Home</a></li>
	    <li><a href="/about">About</a></li>
	    <li><a href="/signup">Sign Up</a></li>
	    <li><a href="/login">Sign In</a></li>
	    <li><a href="/browse">Read a Story</a></li>
	    <li><a href="/write">Write a story</a></li>
	    <li><a href="/testdb">Test the db</a></li>
	</ul>
	<div class="counter">
	  <h4>Stories told: {{ storycount }}</h4>
	</div>
    </div>
    <div class="intro">
	{% block content %}
	{% endblock %}
    </div>
    
  </body>
</html>
