{% extends "base_content.html" %}

{% block content %}
<div class="intro">
  <h1>Welcome to our campfire.  Have a seat, and listen.</h1>
  <h4>What is working_title?</h4>
  <p>It is a place to listen, and to tell stories.  To gather 'round the digital campfire and pass the talking stick around the circle.  It is a place to make legends, and to explore those legends that others have made.  More than anything, this is a place where you make the magic happen.</p>
  <h4>How does it work?</h4>
  <h6>Reading</h6>
  <p>You are free to peruse anywhere without an account!  Read to your heart's content.  Remember, if you get really into a story and you think it ends too soon, you are free to pick it up where it was left off!</p>
  <h6>Writing</h6>
  <p>Once you have started an account, you will take turns writing a story with other authors who wish to contribute.  There will be limitations on the size of each contribution you make before you must hand the story off to someone else.  In some situations, you may return to the story after someone else has added on to it.</p>
  <p>Every story starts somewhere, and when you sign up, you'll get a few 'seeds' to plant.  Each seed is good for the creation of a single first chapter.  When you plant your seed, you'll have a number of options as to the rules of your particular story!  We encourage experimenting and testing the boundaries of this system, especially while we are in the earlier phases of this project.  Eventually, we will take the data from all the different sets of rules and codify them into their own sets of modes, so get creative!</p>
  <p>Some of the rules you'll be able to play with when you plant your first seed:</p>
  <ol>
    <li>The length of each new 'chunk' of story</li>
    <li>The amount of new chunks before an author can come back and write more</li>
    <li>Whether your story will be linear (all new chunks follow the last chunk) or branching (authors are allowed to contribute a chunk that starts anywhere another chunk ends)</li>
    <li>If creating a 'branching' story, how that branching will be managed.</li>
    <li>What genre the story will fit into (if any at all)</li>
    <li>Whether an author may return and edit their work</li>
    <li>Whether to engage 'Retcon Mode', where authors may introduce chunks that come before other chunks.  A sort of backwards branching system, if you will.</li>
    <li>More to come.  If you have any hot ideas, <a href="/contact">let us know!</a></li>
  </ol>
</div>
    
{% endblock %}
